* {
  font-size: 14px;
}

body {
  background-color: white;
  margin: 5px;
}
button {
  color: black;
  background: darkgrey;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  filter: drop-shadow(8px 8px 10px gray);
}
