* {
  font-size: 14px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: yellow;
}

body {
  background-color: purple;
  margin: 5px;
}
button {
  color: black;
  background: darkgrey;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}
